body {
    height: 100vh;
    width: 100vh;
    background: rgb(5,0,5);
    margin: 0rem;
    overflow: hidden;
}

#heading {
    color: aliceblue;
    font-size: xx-large;
    font-family: sans-serif;
    letter-spacing: -0.1ch;
    position: relative;
    top: 10%;
    left: 35%;
    transform: translate(35%, -50%);
}

#image-track > .image {
    width: 38vmin;
    height: 54vmin;
    object-fit: none;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}